.bg-image {
    background-image: url(https://images.unsplash.com/photo-1571752351232-b6d28980561c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 56px;
  }
  /* .d-block {
    height: 600px
  } */

  h1 {
      font-size: 20px;
      font-weight: 900;
  }

  .d-block-w-100 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); 
  }
 
  h5 {
      font-size: 35px;
      font-weight: 400;
  }

  .slider-button {
      padding: 2px 30px 2px 30px;
      border: 1px solid white;

      color: #fff;
      background: transparent;
      
  }

.marketing {
    background-color: #ED564B;
    color:white;
}

  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 650;
    font-size: 25px;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .marketing p {
    
    font-size: smaller;
  }
  